Git_hub_retreiver(1).json
{
  "name": "Git hub retreiver",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"repoName\": \"a string\",\n  \"request\": \"a string\"\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        40,
        -40
      ]
    },
    {
      "parameters": {
        "model": "deepseek-r1:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        600,
        340
      ],
      "id": "afe8cc49-a984-4742-88e4-b0b17f7906e5",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "49lvNKuQyoVV0ePw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Input Trigger').item.json.request }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        420,
        -40
      ],
      "id": "bb95b9b8-f83d-4d72-9bbc-b0d9e1b26e08",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "memoryKey": "={{ $('Workflow Input Trigger').item.json.repoName }}"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "id": "07dd1069-5687-4644-a1d0-8a165e907c56",
      "name": "In-Memory Vector Store2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        120
      ],
      "id": "7558003b-c4fc-4639-a16a-7278394b023e",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vjFt7keJagF22gMl",
          "mode": "list",
          "cachedResultName": "git store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "repoName": "={{ $json.repoName }}",
            "repoOwner": "Axle-Bucamp"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "repoName",
              "displayName": "repoName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repoOwner",
              "displayName": "repoOwner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        -40
      ],
      "id": "818fc0d7-fc46-4e73-8603-d7b08b98cdb3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "model": "deepseek-r1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        360,
        120
      ],
      "id": "0383f935-4295-44d0-af8c-a5d3593fce1e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "49lvNKuQyoVV0ePw",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fe39274-293b-4446-b7f6-8b6075898ba2",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true,
    "instanceId": "c8abfe2814f2845844f48b2e72298c114bfeb9f78ae1619d5986dd41f958e04b"
  },
  "id": "rDEHLjDKxsLFNYO1",
  "tags": []
}