Project_manager.json
{
  "name": "Project manager",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.request }}",
        "options": {
          "systemMessage": "Decompose the request as a list of task and as a team manager define which Agents as tool should fulfill the next task."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        420,
        -120
      ],
      "id": "5afd0579-9db2-474f-a540-0a266d36d080",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.request }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        480,
        60
      ],
      "id": "9781b753-c2db-40e8-bc16-8dd34a418cfb",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "7g5xiZeg4pocgptl",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        380,
        60
      ],
      "id": "a7cdc5c4-6cd0-400b-9054-bdf71bf35390",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "vMDMvuW7tKN8VGpQ",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "WriteCode",
        "description": "write code as a main dev agent.",
        "workflowId": {
          "__rl": true,
          "value": "hK5IWwKYlsMG9NUe",
          "mode": "list",
          "cachedResultName": "git main Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ $fromAI(\"request\", \"what you need to code\", \"string\") }}",
            "user": "={{ $json.user }}",
            "repo": "={{ $json.repo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "repo",
              "displayName": "repo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        680,
        60
      ],
      "id": "16f6dcb4-dfe5-4a53-8ad5-ad8a26344a7e",
      "name": "Write Code"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Make a new project",
        "formDescription": "generate a git hub project based on your request (repo must exist)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "repo",
              "placeholder": "hygdra-agency",
              "requiredField": true
            },
            {
              "fieldLabel": "user",
              "placeholder": "Axle-Bucamp",
              "requiredField": true
            },
            {
              "fieldLabel": "request",
              "placeholder": "enhance the agent system",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        260,
        -120
      ],
      "id": "71e95d60-8d0b-4246-a959-b29a491a56d3",
      "name": "On form submission",
      "webhookId": "ab6c278d-97b4-410e-984b-30502f151781",
      "credentials": {
        "httpBasicAuth": {
          "id": "YKRX7kvKwPkJKoIq",
          "name": "testing kitten"
        }
      }
    },
    {
      "parameters": {
        "name": "devopsAgent",
        "description": "write deployment and maintain CICD code ",
        "workflowId": {
          "__rl": true,
          "value": "UAVhiTO7Emt8xNuU",
          "mode": "list",
          "cachedResultName": "Dev ops Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "repo": "={{ $json.repo }}",
            "user": "={{ $json.user }}",
            "request": "={{ $json.request }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "repo",
              "displayName": "repo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        780,
        60
      ],
      "id": "336e91d7-450b-46d7-8d15-02fd689881df",
      "name": "Devops"
    },
    {
      "parameters": {
        "name": "Tester",
        "description": "Generate Test code for the given request",
        "workflowId": {
          "__rl": true,
          "value": "kIsffXwvjhnomNBK",
          "mode": "list",
          "cachedResultName": "Tester Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "repo": "={{ $json.repo }}",
            "user": "={{ $json.user }}",
            "request": "={{ $json.request }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "repo",
              "displayName": "repo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        60
      ],
      "id": "7c4eb08d-9d7b-45a1-86c6-f938167b9276",
      "name": "Tester"
    },
    {
      "parameters": {
        "name": "RetreiveContextFromGitHub",
        "description": "Fetch git code to retrieve data based on context",
        "workflowId": {
          "__rl": true,
          "value": "rDEHLjDKxsLFNYO1",
          "mode": "list",
          "cachedResultName": "Git hub retreiver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "repoName": "={{ $json.repo}}",
            "request": "={{ $json.request}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "repoName",
              "displayName": "repoName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        980,
        60
      ],
      "id": "ad768cd0-6feb-4c66-88ef-f7822810d6cf",
      "name": "QA retreiver git"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1100,
        60
      ],
      "id": "b60c4d65-bfa6-4ab0-a4fa-ddc0fc6fb4cb",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "u1fSjVbmLNs8pzHC",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "repo": "hygdra-agency",
          "user": "Axle-Bucamp",
          "request": "enhance the agent system"
        }
      }
    ]
  },
  "connections": {
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write Code": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Devops": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tester": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "QA retreiver git": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d8f7ad6-a6c8-476c-9fdb-74c3ee382502",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8abfe2814f2845844f48b2e72298c114bfeb9f78ae1619d5986dd41f958e04b"
  },
  "id": "OTj51JY75j1MA3Or",
  "tags": []
}